main *{
    font-size: 1.3rem;
}
#nombre_producto{
    font-weight: bold;
}
#descripcion{
    font-weight: bold;
}
.foto_producto{
    width: 150px;
    height: auto;
    margin: 10px;
    margin: none;
    border-radius: 10px;
}
.active{
  border: 2px solid red;
  border-radius: 0px;
}

/* Input Ubicacion*/
  .contenedor_ubicacion {
    /*the container must be positioned relative:*/
    position: relative;
    margin-bottom: 20px;
  }
  
  .contenedor_ubicacion input {
    width: calc(100% - 43px);
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    padding-right: 31px;
    font-size: 16px;
  }
  
  /*Boton de Borrar*/
  
  .clear-button {
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 0;
    height: 100%;
    width: 40px;
    display: none;
    align-items: center;
    justify-content: center;
  }
  
  .clear-button.visible {
    display: flex;
  }
  #boton_borrar i{
    font-size: 45px;
  }
  
  .clear-button:hover {
    color: black;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: calc(100% + 2px);
    left: 0;
    right: 0;
    background-color: white;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
  }
  
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .autocomplete-items .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: rgba(0, 0, 0, 0.1);
  }
  input[type=text],  input[type=number]{
    width: 60%;
  }